click
colorlog
PyYAML
scapy
netifaces
kafka-python
numpy
pandas
scikit-learn
joblib
fastapi
uvicorn[standard]
pydantic
grpcio
grpcio-tools
protobuf
xgboost
lightgbm
python-multipart
imblearn
seaborn
matplotlib
requests